nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="header navbar-default navbar-static-top")
      div(class="header-logo-container navbar-left")
        a(href="/student") 
          image(id="header-logo" src="/images/logo.png")
      ul(class="nav navbar-nav navbar-right")
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") Dropdown 
            span(class="caret")
          ul(class="dropdown-menu")
            li
              a(href="studentDetail") User Details
            li(role="separator" class="divider")
            li  
              a(href="#") Log out