<div class="header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="header navbar-default navbar-static-top">
				<div class="header-logo-container navbar-left">
					<a ng-click="directStudentPage()">
						<img id="header-logo" src="/images/logo.png">
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="/studentDetail">User Details</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#/notification">Notifications</a>
							</li>
							<li role="separator" class="divider"></li>
							<li>
								<a href="#/company/">Company Login</a>
							</li>
							<li>
								<a ng-click="logout()">Log Out</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
