<!-- <student-header></student-header> -->

<!-- header here -->
<nav class="navbar box-shadow" id="mainNav">
	<div class="navbar-header page-scroll">

		<!-- logo here -->
		<a class="navbar-brand header-logo" href="/">
			<img src="/images/logo.png"></img>
		</a>

		<!-- dropdown for new job or company/project -->
		<ul class="nav navbar-nav company-new-button">
			<li class="dropdown">
				<a href class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span>New</span>
					<span class="caret"></span>
				</a>
				<ul	class="dropdown-menu">
					<li>
						<a href="#/jobCreate">
							<i class="fa fa-usd job-icon" aria-hidden="true"></i>
							<span class="dropdown-text">Job</span>
						</a>
					</li>
					<li>
						<a href="#/companyRegister">
							<i class="fa fa-briefcase" aria-hidden="true"></i>
							<span class="dropdown-text">Company</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>

		<!-- search bar here -->
		<form class="navbar-form navbar-form-sm navbar-left">
			<div class="input-group">
				<input class="form-control input-sm bg-light no-border rounded padder search-bar" type="text" placeholder="search posted job.." />
				<span class="input-group-btn">
					<button type="submit" class="btn btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
				</span>
			</div>
		</form>
	</div>
</nav>
<!-- header end here -->

<!-- index body -->
<div class="company-index-body">

	<!-- define the side bar here -->
	<div class="company-index-side-bar">
		<div class="wrapper bg-light wrapper-centre">
			<span class="title-font"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="title-icon">Companies/Projects</span></span>
		</div>
		<div class="wrapper">
			<ul class="nav nav-pills nav-stacked nav-side-bar font-mid">
				<li role="presentation" class="all-company-button">
					<a ng-click="showAllContent($event)">All</a>
				</li>
				<li ng-repeat="catJobs in catJobsArray">
					<a ng-click="showContent($index, $event)">{{ catJobs.company }}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end of side bar -->

	<!-- all jobs -->
	<div class="company-index-info">

		<!-- header -->
		<div class="wrapper filter-header">

			<!-- for different pages of jobs -->
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-sm btn-bg btn-default" name="button"><i class="fa fa-chevron-left"></i></button>
				<button type="button" class="btn btn-sm btn-bg btn-default" name="button"><i class="fa fa-chevron-right"></i></button>
			</div>

			<div class="btn-toolbar">

				<!-- page title -->
				<span class="title-font title-icon">My Posted Jobs</span>

				<!-- filter button -->
				<div class="btn-group dropdown">
					<button class="btn btn-default btn-sm btn-bg dropdown-toggle">
						<span class="dropdown-label">Filter</span>
						<span class="caret"></span>
					</button>
				</div>

				<!-- refresh button -->
				<div class="btn-group">
					<button class="btn btn-sm btn-bg btn-default" ng-click="reload()"><i class="fa fa-refresh"></i></button>
				</div>
			</div>
		</div>

		<!-- body -->
		<ul class="list-group list-group-lg no-radius m-b-none m-t-n-xxs font-light">
			<li ng-repeat="job in displayedJobs" ng-class="{0:'b-l-success'}[job.status]" class="list-group-item category-job b-l-3x">
				<h4 class="list-group-item-heading font-light">{{ job.title }}</h4>
				<a ng-href="#/job/{{job.id}}">Details&nbsp;&nbsp;</a>
				<a href ng-click="editJob(job)">Edit</a>
				<div class="pull-right">
					<span class="font-not-important">{{ convertStatus(job.status) }}</span>
				</div>
			</li>
		</ul>
	</div>
	<!-- end of all jobs -->
</div>

<!-- <ul class="list-group side-bar">
	<button type="button" class="list-group-item" id="all-jobs-button" ng-click="showAllContent()">
		All
	</button>
	<div ng-repeat="catJobs in catJobsArray">
		<button type="button" class="list-group-item" ng-click="showContent($index)">
			{{ catJobs.company }}
		</button>
	</div>
</ul>

<div>
	<div class="list-group">
		<div ng-repeat="job in displayedJobs">
			<h4 class="list-group-item-heading">
				{{ job.title }}
			</h4>
			<a ng-href="#/job/{{job.id}}"> Details </a>
			<button ng-click="editJob(job)">Edit</button>
		</div>
	</div>
</div> -->
