<student-header></student-header>

<ul class="list-group side-bar">
	<button type="button" class="list-group-item" id="all-jobs-button" ng-click="showAllContent()">
		All
	</button>
	<div ng-repeat="catJobs in catJobsArray">
		<button type="button" class="list-group-item" ng-click="showContent($index)">
			{{ catJobs.company }}
		</button>
	</div>
</ul>

<div>
	<div class="list-group">
		<div ng-repeat="job in displayedJobs">
			<h4 class="list-group-item-heading">
				{{ job.title }}
			</h4>
			<a ng-href="#/job/{{job.id}}"> Details </a>
		</div>
	</div>
</div>
