nav(class="navbar navbar-default navbar-custom", id="mainNav")
  div(class="container")
    div(class="navbar-header page-scroll")
      button(type="button", class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        i(class="fa fa-bars")
      a(class="navbar-brand" href="#")
        img(src="/images/logo.png")