nav(class="navbar box-shadow", id="mainNav")
  div(class="container")
    div(class="navbar-header page-scroll")

      //- logo here
      a(class="navbar-brand header-logo" href="#")
        img(src="/images/logo.png")

      //- New drop down here
      ul(class="nav navbar-nav company-new-button")
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #[span New] #[span(class="caret")]
          ul(class="dropdown-menu")
            li 
              a(href=) #[i(class="fa fa-usd job-icon" aria-hidden="true")] #[span(class="dropdown-text") Job]
            li 
              a #[i(class="fa fa-briefcase" aria-hidden="true")] #[span(class="dropdown-text") Company]

