extends layout

block content
  h1= title
  p Welcome to #{title}
  h3= status
  div(class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true")
  br
  p(id="welcome_message")
  br
  a(href= "company")  For Companies 
  br
  a(href= "student")  For Students