extends layout

block content
  script.
    var student_registration = function(user_id) {
      console.log("creating student!");
      console.log(user_id);
      $.post('/userManagement/create_student', {
        id: user_id
      }).done(function (data, textStatus) {
        if (typeof data.redirect == 'string') {
          window.location = data.redirect;
        }
      });
    };
    var company_registration = function(user_id) {
      console.log("creating company!");
      $.post('/userManagement/create_company', {
        id: user_id
      }).done(function (data, textStatus) {
        if (typeof data.redirect == 'string') {
          window.location = data.redirect;
        }
      });
    };
    
  //- background image
  div(class="background-container")
    img(src="../images/background.jpg")
  
  //- header, include logo and login button
  div(class="main-header-container")
    div(class="logo")
      img(src="../images/logo.png")
    div(class="login-button" id="fb-login-wrapper" onclick="fb_toggle();")
      img(src="../images/facebook.svg")
      if user_id != undefined
        p Log out
      else
        p Log in

  //- content for students
  div(class="student-button")
    a(href="student") Grab a Job!

  div(class="recruiter-button")
    a(href="company") Post a Job!

  if (user_id != undefined && !is_student && !is_employer)
    div(class="container container-table")
      div(class="row vertical-center-row")
        div(class="text-center col-md-4 col-md-offset-4" id="register-pop-up")
          h2 Register As: 
          button(onclick='student_registration("#{user_id}")') Student
          button(onclick='company_registration("#{user_id}")') Company