extends layout

block content

  include ./includes/student-view-head.jade
  
  div(class="container")
    h1(class="page-header")= title

    ul
    each job in jobs
      p= job.title
      div
        p
          = job.description
