extends layout

block content
  include ./includes/student-view-head.jade
  
  h1= title

  ul
  each job in jobs
    li
      = job.id
      | &nbsp;
      = job.title
      | &nbsp;
      = job.description
      | &nbsp;
      = job.status
      | &nbsp;
      = job.companyId
      | &nbsp;
      