extends layout

block content
  div(class="header")
    div(class="logo") NUS PARTIME

  ul(class="list-group side-bar") 
      each category in categories
        button(type="button" class="list-group-item")
          = category.name
  
  div(id="job-content")
    h1(class="page-header")= title

    div(class="list-group")
      each job in jobs
        div(class="list-group-item")
          h4(class="list-group-item-heading")
            = job.title
              | &nbsp;
              | (
              a(href="/jobs/" + job.id + "/details") Details
              | )