extends layout

block content
  include ./includes/student-view-head.jade

  ul(class="list-group side-bar") 
      each category in categories
        button(type="button" class="list-group-item")
          = category.name
  
  div(id="job-content")
    h1(class="page-header")= title

    div(class="list-group")
      each job in jobs
        div(class="list-group-item")
          h4(class="list-group-item-heading")
            = job.title
          a(href="/jobs/" + job.id + "/details") Details