extends layout

block content
  h1= title

  div(class="sidebar") 
    each category in categories
      button
        = category

  ul
  each job in jobs
    li
      = job.title
      | &nbsp;
      | (
      a(href="/jobs/" + job.id + "/details") Details
      | )