doctype html
html(ng-app="nusPartimeApp")
  head
    meta(charset='utf8')
    title NUS PARTIME

    script(src="/javascripts/vendor/jquery.min.js")
    script(src="/javascripts/vendor/angular.js")
    //- script(src="/javascripts/vendor/angular-ui-router.js")
    script(src="/javascripts/vendor/angular-route.js")
    script(src="/javascripts/vendor/angular-cookies.js")
    script(src="/javascripts/vendor/bootstrap.min.js")
    script(src="/javascripts/vendor/jquery-dateFormat.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js")
    script(src="/javascripts/vendor/bootstrap-switch.js")
    script(src="/javascripts/vendor/moment.min.js")
    script(src="/javascripts/vendor/sweetalert.min.js")

    script(src="/app/app.js")
    script(src="/app/services/session.js")
    script(src="/app/services/authService.js")
    script(src="/app/services/registrationService.js")
    script(src="/app/services/jobService.js")
    script(src="/app/services/companyService.js")
    script(src="/app/services/notificationService.js")
    script(src="/app/directives/mainHeaderDirective.js")
    script(src="/app/directives/studentHeaderDirective.js")
    script(src="/app/components/index/indexController.js")
    script(src="/app/components/studentRegistration/studentRegistrationController.js")
    script(src="/app/components/companyRegistration/companyRegistrationController.js")
    script(src="/app/components/companyProfile/companyProfileController.js")
    script(src="/app/components/jobCreation/jobCreationController.js")
    script(src="/app/components/jobEdit/jobEditController.js")    
    script(src="/app/components/student/studentMainController.js")
    script(src="/app/components/company/companyMainController.js")
    script(src="/app/components/jobDetail/jobDetailController.js")
    script(src="/app/components/notification/notificationController.js")

    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-switch.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    link(rel='stylesheet/less', href='/stylesheets/index-page.less')
    link(rel='stylesheet/less', href='/stylesheets/student-page.less')
    script(src="/javascripts/vendor/less-2.7.1.min.js")

  body
    ng-view
