doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/facebook.js")
    script(src="/javascripts/jquery.min.js")
  body
    block content
