extends layout

block content
  h1= title

  ul
  each notification in notifications
    li
      = notification.message
      if (notification.status == 0)
        form(action="/notification/" + notification.id + "/read", method="post")
          button(type="submit" class="btn btn-primary") Mark as read
