extends layout

block content

   //- header
  include header.jade

  div(class="container")
    
    //- Title should be welcome, someone
    h2=title

    //- Here is to display the personal info
    div(class="panel panel-default")
      div(class="panel-heading")
        h4 Profile
        button(class="btn btn-warning") Edit
      div(class="panel-body")
        //- TODO Display all the infomation here

    div(class="panel panel-default")
      div(class="panel-heading")
        h4 All My Posted Jobs
        button(class="btn btn-success") Create New
      div(class="panel-body")
        table(class="table table-striped")
          thead
            tr
              td S/N
              td Job Name
              td Job Status
              td Option
          tbody
            each job, index in jobs
              tr
                td=index + 1
                //- td=job.name
                //- td=job.status
                //- td link to edit