<!-- header -->
<student-header></student-header>
<!-- header end here -->

<!-- body -->
<!-- profile header -->
<div class="company-profile">
    <div class="col">
        <div class="company-profile-header">
            <div class="company-profile-header-content wrapper-lg">
                <div class="row margin-top">
                    <div class="col-sm-7">
                        <div class="company-profile-photo pull-left">
                            <img src="/images/logo.jpg" />
                        </div>
                        <div class="company-profile-txt">
                            <div class="person-name">
                                <span class="h3 font-light">{{ user.name }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
						<!-- TODO: something can be written here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper company-profile-navbar">
            <ul class="nav nav-pills nav-sm font-light">
                <li class="personalInfo-button">Personal Info</li>
            </ul>
        </div>

		<div class="personalInfo padder">
			<a ng-click="editUser()" class="panel hbox hbox-auto-xs no-border personalInfo-wrapper margin-top">
				<div class="col wrapper">
					<span class="font-light font-xl personalInfo-title"><i class="fa fa-barcode" aria-hidden="true"></i>&nbsp;My Personal Information</span>
					<i class="fa fa-circle-o m-r-sm pull-right" style=" color: #23b7e5;"></i><br>
					<span class="font-not-important font-light font-sm" style="padding-left: 10px;">You can click this card to edit.</span>
					<div class="row wrapper"  style="margin-top: 30px;">
						<div class="col-sm-3 personalInfo-headers">
							<p style="padding-top: 5px;">Name</p>
							<p>Address</p>
							<p>Phone</p>
							<p>Email</p>
							<p>Description</p>
						</div>
						<form name="updatejob-form" ng-submit="updateUserProfile()" class="col-sm-9 personalInfo-details">
							<div ng-switch on="editStatus">
								<div ng-switch-when="0">
									<p style="padding-top: 5px;">{{ user.name }}</p>
									<p>{{ user.address }}</p>
									<p>{{ user.phone }}</p>
									<p>{{ user.email }}</p>
									<p>{{ user.description }}</p>
								</div>
								<div ng-switch-when="1">
									<input type="text" ng-model="user.name" class="form-control newjob-title newjob-input font-light">
									<input type="text" ng-model="user.address" class="form-control newjob-title newjob-input font-light">
									<input type="text" ng-model="user.phone" class="form-control newjob-title newjob-input font-light">
									<input type="text" ng-model="user.email" class="form-control newjob-title newjob-input font-light">
									<textarea type="text" ng-model="user.description" class="form-control newjob-title newjob-input font-light"></textarea>
									<button type="submit" class="btn btn-sm btn-warning btn-addon job-details-edit-button"><i class="fa fa-pencil"></i>Update</button>
									<button ng-click="cancelEdit(); $event.stopPropagation();" class="btn btn-sm" style="color: #fff; margin-top: -15px;">Cancel</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col wrapper personalInfo-brand">
					<!-- <span style="color: #fad733;" class="font-light">Summary</span> -->
					<div class="pull-right">
						<i class="fa fa-caret-down" style="margin-left:10px; color: #fad733;" ></i>
					</div>
					<div style="padding-top:10%;">
						<h1 style="text-align: center; color:#fff; font-weight:300;">Applied Jobs</h1>
					</div>
					<div class="list-group list-group-lg no-radius m-b-none m-t-n-xxs font-light">
						<div ng-repeat="job in jobArray" class="list-group-item category-job b-l-3x">
							{{ job.title }}
						</div>
					</div>
				</div>
			</a>
		</div>
    </div>
</div>
<!-- <div ng-repeat="company in companies">{{company.name}}
<a href ng-click="editCompanyProfile(company)">Edit</a>
</div> -->
