@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300';

body {
  font-family: "Source Sans Pro",sans-serif;
  color: #58666e;
  background-color: #edf1f2;
  padding: 0;
  margin: 0;
}

/*general*/
.b-l-primary {
  border-left-color: #7266ba;
}

.b-l-info {
  border-left-color: #23b7e5;
}

.b-l-warning {
  border-left-color: #fad733;
}

.b-l-success {
  border-left-color: #27c24c;
}

.b-l-3x {
  border-left-width: 3px;
}

.navbar-brand:hover, a, a:focus, a:hover {
  text-decoration: none;
}

.m-b-none {
  margin-bottom: 0!important;
}

.m-t-n-xxs {
  margin-top: -1px;
}

.no-radius {
  border-radius: 0;
}

.wrapper {
  padding: 15px;
}

.wrapper-centre {
  text-align: center;
}

.bg-light {
  background-color: #edf1f2;
}

.title-font {
  font-size: 20px;
}

.font-mid {
  font-size: 15px;
}

.font-large {
  font-size: 18px;
}

.font-not-important {
  color: #98a6ad;
}

.title-icon {
  padding-left: 15px;
}

.rounded {
  border-radius: 500px;
}

.navbar-form-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.padder {
  padding-left: 15px;
  padding-right: 15px;
}
/*end of general*/

/*for navbar*/
#mainNav {
  background-color: #fff;
  margin: 0px;
  border-radius: 0px;
}

.header-logo {
  padding-left: 25px;
}

.box-shadow {
  box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
}

.nav a {
  color: #58666e;
}

.dropdown-text {
  padding-left: 10px;
}

.job-icon {
  padding-left: 5px;
}

.company-new-button {
  padding-left: 70px;
}
/*end of navbar*/

/*company index body*/
.company-index-body {
  display: table;
  padding: 0px;  
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.company-index-side-bar {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
  width: 240px;
  border-right: 1px solid #dee5e7;
  background-color: #e4eaec;
}

.company-index-info {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
  background-color: #fff;
}

.filter-header {
  background-color: #f6f8f8;
  height: 59px;
}

.filter-header .btn {
  border-radius: 0px;
}

.filter-header .btn:focus {
  outline: 0px;
}

.category-job {
  border-radius: 0!important;
}

.search-bar {
  border: 0px;
  box-shadow: none;
}

.search-bar:focus {
  border: 0px!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*end of company index body*/

/*for header*/
.navbar-header a {
  padding-top: 10px;
}

.navbar-brand img {
  height: 30px;
}

/* for background image */
.background-container {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
}


.header {
  width: 100%;
  height: 50px;
  z-index: 99;
}

/* for main page header */
.main-header-container {
  position: absolute;
  width: 100%
}

.main-header-container .logo {
  position: absolute;
  height: 100px;
  width: 500px;
  padding: 30px 0px 0px 50px;
}

.main-header-container .logo img {
  height: 100%;
}

.main-header-container .login-button {
  position: absolute;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: solid 1px;
  border-color: #fff;
  background-color: #353535;
  opacity: .7;
}

.main-header-container .login-button:hover {
  opacity: 1;
}

.main-header-container .login-button img {
  height: 36px;
  padding: 2px 0px 0px 20px;
}

.main-header-container .login-button p {
  font-size: 14px;
  margin-top: 11px;
  padding-left: 20px;
  color: #fff;
}

/*for main page content*/
.student-button {
  position: absolute;
  top: 400px;
  left: 9%;
  height: 50px;
  width: 150px;
  border: solid 2px;
  border-color: #fff;
}

.student-button a {
  position: relative;
  left: 15px;
  top: 15px;
  color: #fff;
  font-family: Consolas;
  font-size: 20px;
  text-decoration: none;
}

.recruiter-button {
  position: absolute;
  bottom: 450px;
  right: 100px;
  height: 50px;
  width: 150px;
  border: solid 2px;
  border-color: #353535;
  opacity: .7;
}

.recruiter-button a {
  position: relative;
  left: 15px;
  top: 15px;
  color: #353535;
  font-family: Consolas;
  font-size: 20px;
  text-decoration: none;
}

/*for responsive design*/
@media (min-width: 768px) {

  /*background image*/
  .background-container img {
    width: 100%;
  }

  /*header*/
  .main-header-container {
    height: 100px;
  }

  .main-header-container .logo {
    height: 80px;
    padding: 20px 0px 0px 40px;
  }

  .main-header-container .login-button {
    right: 50px;
    top: 25px;
  }
}

@media (min-width: 1024px) {
  /*header*/
  .main-header-container {
    height: 130px;
  }

  .main-header-container .logo {
    height: 100px;
    padding: 30px 0px 0px 50px;
  }

  .main-header-container .login-button {
    right: 100px;
    top: 50px;
  }

  /*for main page content*/
  .student-button {
    top: 450px;
  }

  .recruiter-button {
    top: 550px;
  }
}

@media (min-width: 1440px) {

  /*header*/
  .main-header-container {
    height: 170px;
  }

  .main-header-container .logo {
    height: 130px;
    padding: 40px 0px 0px 70px;
  }

  .main-header-container .login-button {
    right: 100px;
    top: 70px;
  }

  /*for main page content*/
  .student-button {
    top: 600px;
  }

  .recruiter-button {
    top: 75vh;
  }
}