body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  width: 100%;
  height: 50px;
  z-index: 99;
}

.side-bar {
  margin-top: 40px;
  /*margin-left: -250px;*/
  /*left: 250px;*/
  /*position: fixed;*/
  float: left;
  padding-top: 50px;
  z-index: 1000;
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background: #FFF;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.side-bar > button {
  border: 0;
}
.side-bar > .list-group-item {
  width: 180px;
}

button:focus {
  outline-color: #ddd !important;
}

#job-content {
  margin-right: 100px;
	margin-left: 300px;
}

.list-group-item {
  margin: 20px;
}