body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar {
	position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    width: 200px;
    background: #000;
}

#job_content {
	margin-left: 200px;
}