<main-header></main-header>

<div class="job-details-container">
	<!-- header (nav bar) -->
	<div class="job-details-header">
		<ol class="breadcrumb">
			<li>Job Details</li>
		</ol>
	</div>
	<!-- end of header -->

	<!-- job details -->
	<div class="job-details-wrapper">
		<div class="row">
			<div class="col-sm-8">
				<div class="panel wrapper job-details-misc">
					<div class="job-details">
						<!-- job title -->
						<div class="job-details-title">

							<span><i class="fa fa-tasks"></i>&nbsp;&nbsp;{{ job.title }}</span>
						</div>
						<!-- end of job title -->
						<!-- job status -->
						<div class="job-details-status">

						</div>
						<!-- end of job status -->
					</div>
					<div class="job-details-company row font-light" style="margin-top: 30px;">
						<!-- company name -->
						<div class="col-sm-5">
							<i class="fa fa-building"></i>
							<span class="job-details-company-title">Company/Project</span>
						</div>
						<div class="col-sm-7">
							<span class="job-details-company-detail">{{ job.Company.name }}</span>
						</div>
						<!-- end of company name -->

					</div>
					<div class="job-details-salary margin-top row font-light">
						<!-- job salary -->
						<div class="col-sm-5">
							&nbsp;<i class="fa fa-usd"></i>
							<span class="job-details-salary-title">Hourly Salary</span>
						</div>
						<div class="col-sm-7">
							<span class="job-details-salary-detail">{{ job.salary }}&nbsp;SGD/Hour</span>
						</div>
						<!-- end of job salary -->
					</div>
					<div class="job-details-deadline margin-top row font-light">
						<!-- job deadline -->
						<div class="col-sm-5">
							<i class="fa fa-calendar"></i>
							<span class="job-details-deadline-title">&nbsp;Job End on</span>
						</div>
						<div class="col-sm-7">
							<span class="job-details-deadline-detail">{{ job.deadline | date:"dd MMM yyyy"}}</span>
						</div>
						<!-- end of job deadline -->
					</div>
					<div class="job-details-applicationDeadline margin-top row font-light">
						<!-- job application deadline -->
						<div class="col-sm-5">
							<i class="fa fa-clock-o"></i>
							<span class="job-details-applicationDeadline-title">&nbsp;Application Deadline</span>
						</div>
						<div class="col-sm-7">
							<span class="job-details-applicationDeadline-detail">{{ job.applicationDeadline | date:"dd MMM yyyy"}}</span>
						</div>
						<!-- end of job deadline -->
					</div>

				</div>
				<div class="panel wrapper job-details-description font-light">
					<span style="position: absolute; top:265px; right:15px;">
						<i class="fa fa-caret-down" style="color: #fad733; margin-right: 10px;"></i>
					</span>
					<p style="color: #fff; font-size: 18px;">Job Description</p>
					<p style="color: #dcf2f8;" ng-bind-html="description"></p>
				</div>
			</div>

			<div class="col-sm-4" ng-if="!isOwner">
				<div class="panel job-contact-person margin-top">
					<div class="panel-heading wrapper">
						<h4 class="font-light"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;&nbsp;Contact Person</h4>
					</div>
					<div class="panel-body">
						<div class="row font-light">
							<div class="col-sm-5">
								<span>Name</span>
							</div>
							<div class="col-sm-7">
								<p>{{ employerInfo.name }}</p>
							</div>
						</div>
						<div class="row font-light margin-top">
							<div class="col-sm-5">
								<span>Phone</span>
							</div>
							<div class="col-sm-7">
								<p>{{ employerInfo.phone }}</p>
							</div>
						</div>
						<div class="row font-light margin-top">
							<div class="col-sm-5">
								<span>Email</span>
							</div>
							<div class="col-sm-7">
								<p>{{ employerInfo.email }}</p>
							</div>
						</div>
						<div ng-switch on="applicationStatus" style="margin-top: 30px;">
							<form ng-switch-when="-1" ng-submit="applyJob()">
								<button type="submit" class="btn btn-primary btn-sm button-addon apply-button"><i class="fa fa-paper-plane"></i>Apply</button>
							</form>
							<form ng-switch-when="0" ng-submit="reapplyJob()">
								<button type="submit" class="btn btn-primary btn-sm button-addon apply-button"><i class="fa fa-paper-plane"></i>Re-Apply</button>
							</form>
							<form ng-switch-default ng-submit="cancelApplication()">
								<button type="submit" class="btn btn-warning btn-sm button-addon apply-button"><i class="fa fa-exclamation-circle"></i>Cancel</button>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4" ng-if="isOwner">
				<div class="panel job-contact-person margin-top">
					<div class="panel-heading wrapper">
						<h4 class="font-light"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Applicants</h4>
					</div>
					<ul class="list-group list-group-lg list-of-applicants">
						<li class="list-group-item" ng-repeat="applicant in applicantList">
							<div class="avatar">
								<img src="https://graph.facebook.com/v2.7/{{applicant.id}}/picture?type=small" />
							</div>
							<a style="padding-left: 20px;" class="font-light" href="" ng-click="directToApplicant({{applicant.id}})">{{ applicant.id }}</a>
						</li>
					</ul>
				</div>
				<div class="job-details-status">

				</div>
				<div class="btn-toolbar pull-right job-details-button" ng-switch on="job.jobStatus">
					<a href ng-click="editJob(job)"><button class="btn btn-sm btn-warning btn-addon job-details-edit-button"><i class="fa fa-pencil"></i>Edit</button></a>
					<!-- <button class="btn btn-sm btn-danger btn-addon job-details-delete-button"><i class="fa fa-trash"></i>Delete</button> -->
					<button class="btn btn-sm btn-addon" ng-switch-when="1" ng-click="toggleJobStatus()">Open</button>
					<button class="btn btn-sm btn-addon" ng-switch-when="0" ng-click="toggleJobStatus()">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end of job details -->
</div>
