<student-header></student-header>

<!-- index body -->
<div class="student-index-body">

	<!-- define the side bar here -->
	<div class="student-index-side-bar">
		<div class="wrapper bg-light wrapper-centre">
			<span class="title-font"><i class="fa fa-list-alt" aria-hidden="true"></i><span class="title-icon">Job Categories</span></span>
		</div>
		<div class="wrapper">
			<ul class="nav nav-pills nav-stacked nav-side-bar font-mid">
				<li role="presentation" class="all-jobs-button">
					<a ng-click="showAllContent($event)">All</a>
				</li>
				<li ng-repeat="catJobs in catJobsArray">
					<a ng-click="showContent($index, $event)">{{ catJobs.category }}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end of side bar -->

	<!-- all jobs -->
	<div class="studnet-index-info">
		<!-- header -->
		<div class="wrapper filter-header">
			<!-- for different pages of jobs -->
			<div class="btn-group pull-right">
				<button ng-click="pageDown()" class="btn btn-sm btn-bg btn-default" name="button"><i class="fa fa-chevron-left"></i></button>
				<button ng-click="pageUp()" class="btn btn-sm btn-bg btn-default" name="button"><i class="fa fa-chevron-right"></i></button>
			</div>

			<div class="btn-toolbar">
				<!-- page title -->
				<span class="title-font title-icon font-light">Jobs</span>
			</div>
		</div>

		<!-- body -->
		<ul class="list-group list-group-lg no-radius m-b-none font-light">
			<li ng-repeat="job in pageJobs" ng-class="{0:'b-l-primary'}[job.status]" class="list-group-item category-job b-l-3x">
				<h4 class="list-group-item-heading font-light">{{ job.title }}</h4>
				<a ng-href="#/job/{{job.id}}">Details</a>
				<div class="fb-like" data-href="http://www.nuspartime.com/#/job/{{job.id}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			</li>
		</ul>
	</div>
	<!-- end of all jobs -->
</div>
